<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="gripper_gazebo" params="name">

		<gazebo reference="${name}_base_holder_link">
			<material>Gazebo/Orange</material>
			<turnGravityOff>true</turnGravityOff>
			<selfCollide>true</selfCollide>
		</gazebo>
	
		<gazebo reference="${name}_left_finger_fastener_link">
			<material>Gazebo/Orange</material>
			<turnGravityOff>true</turnGravityOff>
			<selfCollide>true</selfCollide>
		</gazebo>
	
		<gazebo reference="${name}_right_finger_fastener_link">
			<material>Gazebo/Orange</material>
			<turnGravityOff>true</turnGravityOff>
			<selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_servo_left_link">
			<material>Gazebo/Black</material>
		</gazebo>

		<gazebo reference="${name}_servo_right_link">
			<material>Gazebo/Black</material>
		</gazebo>

		<gazebo reference="${name}_camera_holder_link">
			<material>Gazebo/Black</material>
		</gazebo>
1
	
	</xacro:macro>

</robot>
